body {
    background-color: teal;
}



#heading {
    border-bottom: 1px solid rgb(29, 27, 27);
    padding-bottom: 2rem;
}




.main-container {
    max-width: 50vh;
    margin: 10rem auto;
    padding: 0.5rem 2rem 3rem;
    text-align: center;
    background-color: white;
    border-radius: 8px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.btn {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 0.8rem;
    border-radius: 5px;
    transition: 0.8s;
    text-align: left;
    font-weight: bolder;
}

#nxt {
    height: 3rem;
    width: 30%;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 60, 129);
    color: white;
    border-radius: 10px;
    border: none;
    /* transition: 0.5s; */
    visibility: hidden;
}

#nxt:hover {
    color: rgb(0, 60, 129);
    background-color: rgb(107, 148, 207);
    transition: 0.8s;
}
.btn:hover {
    background-color: gray;
    transition: 0.8s;
    color: white;
    font-weight: bolder;
}

.correct {
    background-color: green;
    color: black;
}

.wrong {
    background-color: red;
    color: black;
}

h2{
    color: navy;
    font-weight: bolder;
}
